*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-inter: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --ff-saira-condensed: "Saira Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --clr-white:#fff;
  --clr-black: #000;
  --clr-brand:#800080;
  font-size: 62.5%;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */



/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/********************/
/*CSS RESETS*/
/********************/
/* 1. Use a more-intuitive box-sizing model. */
*,*::before, *::after{
  box-sizing: border-box;
}

/* 2. Remove default margin/padding */
*{
  margin: 0;
  padding: 0;
}

/* 3. Allow perccentage based height */
html,body{
  height: 100%;
  font-size: 1.6rem;
}
/* 4. Improve media defaults */
img, picture, svg{
  display: block;
  max-width: 100%;
}

/* 5. Avoid text overflows */
p,h1,h2, h3, h4,h5,h6{
  overflow-wrap: break-word;
}

/*
Typographic tweaks!
6. Add accessible line-height and Improve text rendering
*/
body {
-webkit-font-smoothing: antialiased;
line-height: 1.5;
font-family: 'Roboto', sans-serif;
background-color: var(--clr-white);

}

/* 7. Remove built-in form typography styles */

 button {
  font: inherit;
}

h1,h2{
 margin-top: 2em;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

section, footer {
  padding: 4em 0;
}
input{
  background: none;
  border: none;
  outline: none;
}

.container{
  margin: 0 auto;
  width: min(1200px, 90%);
}


/* FOOTER STYLES */
.footer{
  background-color: var(--clr-brand);
}
.footer__row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3em;
  /* width: 80%; */
  gap: 3em;

}
.footer__social-links{
  display: flex;
  gap: 1em;
  
}
.footer__social-icon{
 font-size: 1.7rem;
}
.footer__item{
  margin-bottom: .6em;
}
.footer__text{
  color: var(--clr-white);
  font-size: 1.8rem;
  margin-bottom: .8em;
  font-family: var(--ff-saira-condensed);
}
.footer__logo{
  margin-bottom: .8em;
}
.footer__link{
  color: var(--clr-white);
  font-size: 1.3rem;
  /* line-height: 1.7; */
  /* margin-bottom: .8em; */
}

.footer__subscribe{
        margin-top: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
      
        border-radius: 5px;
        border: 1px solid var(--clr-white);
        /* padding: 1em 0; */
}
.footer__input{
  border-radius: 4px;
  padding: .5em 0;
  color: var(--clr-white);
 
}

.footer__input::placeholder{
  color: var(--clr-white);
}
.footer__btn{
  color: var(--clr-brand);
  background-color: var(--clr-white);
  border: none;
  padding: .5em .8em;
  font-weight: 700;
  font-family: var(--ff-inter);
  font-size: 1.4rem;
}
